<template>
  <v-app class="interior">
    <header class="main-header">
      <v-container class="content" grid-list-md>
        <v-layout class="header-layout" text-xs-center align-end justify-space-between>
          <v-flex class="header-block" xs1>
            <a class="link" href="#">
              <img class="icon" src="~assets/img/icons/geolocation.svg" alt="geo">
              <span class="name">Екатеринбург</span>
            </a>
          </v-flex>
          <v-flex class="header-block" xs1>
            <a class="link" href="#">
              <img class="icon" src="~assets/img/icons/manufacturer.svg" alt="manufacturer">
              <span class="name">Производители</span>
            </a>
          </v-flex>
          <v-flex class="header-block" xs1>
            <a class="link" href="#">
              <img class="icon" src="~assets/img/icons/addresses_of_shops.svg" alt="shops">
              <span class="name">Адреса магазинов</span>
            </a>
          </v-flex>
          <v-flex class="header-logo" xs3>
            <a href="/">
              <img class="img-logo" src="~assets/img/icons/logo.svg" alt="logo">
            </a>
          </v-flex>
          <v-flex class="header-block" xs1>
            <a class="link" href="#">
              <img class="icon" src="~assets/img/icons/favourites.svg" alt="love">
              <span class="name">Избранное</span>
            </a>
          </v-flex>
          <v-flex class="header-block" xs1>
            <a class="link" href="#">
              <img class="icon" src="~assets/img/icons/personal_account.svg" alt="personal">
              <span class="name">Личный кабинет</span>
            </a>
          </v-flex>
          <v-flex class="header-block" xs1>
            <a class="link" href="tel:+79999999999">
              <img class="icon" src="~assets/img/icons/phone_head.svg" alt="phone">
              <span class="name">+7 (999) 999-99-99</span>
            </a>
          </v-flex>
          <div class="block-search">
            <v-text-field
              outline
              append-icon="search"
              hide-details
              single-line
            ></v-text-field>
          </div>
        </v-layout>
      </v-container>
    </header>
    <v-content class="main-content">
      <v-container fluid>
        <v-layout>
          <v-flex xs3>
            <side-bar></side-bar>
          </v-flex>
          <v-flex xs9>
            <v-slide-y-transition mode="out-in">
              <router-view></router-view>
            </v-slide-y-transition>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <v-navigation-drawer
      temporary
      :right="right"
      v-model="rightDrawer"
      fixed
    >
      <v-list>
        <v-list-tile @click.native="right = !right">
          <v-list-tile-action>
            <v-icon light>compare_arrows</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-footer class="main-footer" :fixed="fixed">
      <v-container class="main-footer__containter" grid-list-md>
        <v-layout class="footer-layout" justify-space-between align-center>
          <v-flex class="footer-social" xs1 justify-space-around >
            <a class="social-link" href="https://vk.com/">
              <img class="icon" src="~assets/img/icons/vk.svg" alt="vk">
            </a>
            <a class="social-link" href="https://www.facebook.com/">
              <img class="icon" src="~assets/img/icons/facebook.svg" alt="facebook">
            </a>
            <a class="social-link" href="https://www.instagram.com/">
              <img class="icon" src="~assets/img/icons/inst.svg" alt="instagram">
            </a>
          </v-flex>
          <v-flex class="autor" xs4>
            <p class="autor-content">Проект компании <a class="link" href="http://www.ceramic3d.ru/">Ceramic 3D</a></p>
          </v-flex>
          <v-flex class="advertising" xs5 text-xs-right>
            <p class="content">
              <img class="icon" src="~assets/img/icons/partner.svg" alt="partner">
              <span>Партнёрам и клиентам</span>
            </p>
            <p class="content">
              <a class="link" href="http://www.ceramic3d.ru/">www.ceramic3d.ru</a>
            </p>
          </v-flex>
          <v-flex class="footer-contacts" xs3 justify-space-between text-xs-right>
             <div class="contacs-block">
               <p>Контакты:</p>
              </div>
             <div class="contacs-block">
               <p class="contacs-content">
                  <img class="icon" src="~assets/img/icons/phone.svg" alt="phone">
                 <a class="link" href="tel:+73433517780">+7 (343) 351-77-80</a>
               </p>
               <p class="contacs-content">
                 <img class="icon" src="~assets/img/icons/mail.svg" alt="phone">
                 <a class="link" href="mailto:info@ceramic3d.ru">info@ceramic3d.ru</a>
               </p>
             </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
  import Meta from 'mixins/meta'

  export default {
    mixins: [Meta],

    data () {
      return {
        clipped: false,
        drawer: true,
        fixed: false,
        items: [
          { icon: 'apps', title: 'Welcome', to: '/' },
          { icon: 'bubble_chart', title: 'Inspire', to: '/inspire' }
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Vuetify.js'
      }
    },
    components: {
      sideBar: () => import('components/sidebar/sidebar.vue'),
    }
  }
</script>

<style lang="scss">
@import "~assets/scss/_global.scss";
@import "~assets/scss/_font.scss";
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";
  .container {
    max-width: 1928px !important;
  }

  .interior {
      color: $white;
      font-family: 'MicrosoftYaHei';
  }

  .main-header {
    background: $base;

    .content {
      text-transform: uppercase;
      position: relative;
      padding-top: $vw10;
    }

    .header-layout {

      .header-block {
        margin-top: 2%;
        min-width: 10%;

        .link {
          text-decoration: none;
          color: $white;
          text-align: center;

          .icon {
            display: block;
            margin: 10px auto;
            width: $vw30;
          }

          .name {
            display: block;
            white-space: nowrap;
            font-size: $vw16;
          }
        }
      }

      .header-block:hover {
        opacity: .5;
      }

      .header-logo {
        .img-logo {
          width: 100%;
        }
      }

      .block-search {
        position: absolute;
        top: 10px;
        right: 40px;
        max-width: 20%;
        .v-text-field {

          .v-input__append-inner {
            margin-left: 0;
            margin-right: auto;
            padding-right: 4px;
            min-height: $vw30;
            margin: auto !important;
            display: flex;

            .v-input__icon {
              margin: auto;
              width: $vw24;
              height: $vw24;
              min-width: 20px;

              .theme--light.v-icon {
                color: $base;
                font-size: $vw24;

                &.primary--text {
                  color: $base !important;
                }
              }
            }
          }

          .v-input__slot {
            min-height: 20px !important;
            height: $vw40 !important;
            max-height: 30px;
            background: red;
            display: flex;
            border-color: $white;
            background: $white !important;
            padding-left: 0;

            .v-text-field__slot {
              order: 1;
            }

            input {
              margin: 0 !important;
            }
          }

          .v-input__slot:hover {
            border-color: $white !important;
          }
        }
      }
    }
  }

  .main-content {
    background: linear-gradient($white, $gray-back);
  }

  .main-footer {
    color: $font-grey;
    border-top: 3px solid $base;
    background: $gray-back !important;
    height: auto !important;
    .main-footer__containter {
      max-width: 100%;
      font-size: $vw16;
      background: $gray-back;
      padding-top: $vw10;
      padding-bottom: $vw10;
    }
    .link {
      text-decoration: none;
      color: $font-grey;
    }

    .link:hover {
      text-decoration: underline;
    }
    .footer-social {
      display: flex;
      .social-link {
        display: block;
        border: 2px solid $base;
        border-radius: 7px;
        width: $vw35;
        height: $vw35;

        .icon {
          object-fit: contain;
          width: 100%;
        }
      }
    }

    .autor {
      margin: 0 20px;

      .autor-content {
        margin: 0;
      }
    }

    .advertising {
      .content {
        margin: 0;
        .icon {
          height: $vw20;
          vertical-align: bottom;
          margin-right: 5px;
        }
      }
    }

    .footer-contacts {
      display: flex;
      justify-content: center;
      align-items: baseline;
      .contacs-content {
        margin: 0;
        .icon {
          height: $vw25;
          vertical-align: bottom;
          margin-right: 5px;
        }
      }
    }

    .contacs-block:first-child {
      margin-right: 5px;
      width: 50%;
    }

    .contacs-block:nth-child(2) {
      text-align: right;
    }
  }

  @media screen and (max-width: 1500px) {
    .header {
      .header-block {
        min-width: 5%;
        .name {
          white-space: normal;
        }
      }
    }
  }
</style>
