<template>
  <div class="sidebar-filter">
    <v-container class="filter-container">
      <v-layout class="filter-layout" column>
        <v-flex class="filter-block">
          <v-list class="filter-list">
            <v-list-group
              v-for="item in items"
              v-model="item.active"
              :key="item.title"
              :prepend-icon="item.action"
              no-action
              class="filter-group"
            >
              <v-list-tile slot="activator" class="filter-head">
                <v-list-tile-content class="filter-head-content">
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                  <div class="coount-filter">({{ item.items.length }})</div>
                </v-list-tile-content>
              </v-list-tile>

              <v-list-tile
                v-for="subItem in item.items"
                :key="subItem.title"
                class="filter-sublist"
              >
                <v-list-tile-content class="filter-sublist-content">
                  <v-checkbox
                    :label="subItem.title"
                    value
                    hide-details
                    class="checkbox-filter"
                    :input-value="checkOff"
                  ></v-checkbox>
                </v-list-tile-content>
              </v-list-tile>
            </v-list-group>
          </v-list>
        </v-flex>
        <v-flex class="btn-block" text-xs-center>
          <v-btn class="btn-reset" @click="setCheckChildsOff()">Сбросить</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          {
            title: 'Тип помещения',
            items: [
              { title: 'List Item' }
            ]
          },
          {
            title: 'Dining',
            active: true,
            items: [
              { title: 'Breakfast & brunch' },
              { title: 'New American' },
              { title: 'Sushi' },
              { title: 'Breakfast & brunch1' },
              { title: 'New American1' },
              { title: 'Sushi1' },
              { title: 'Breakfast & brunch2' },
              { title: 'New American2' },
              { title: 'Sushi2' }
            ]
          },
          {
            title: 'Education',
            items: [
              { title: 'List Item' }
            ]
          },
          {
            title: 'Family',
            items: [
              { title: 'List Item' }
            ]
          },
          {
            title: 'Health',
            items: [
              { title: 'List Item' }
            ]
          },
          {
            title: 'Office',
            items: [
              { title: 'List Item' }
            ]
          },
          {
            title: 'Promotions',
            items: [
              { title: 'List Item' }
            ]
          }
        ],
        checkOff: false,
      }
    },

    created: function() {
      const vm = this
    },

    methods: {
      setCheckChildsOff(items) {
        this.checkOff = true;
        setTimeout(() => {this.checkOff = false}, 0);

      },
    }
  }
</script>

<style lang="scss">
@import "~assets/scss/_font.scss";
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";

  .sidebar-filter {
    .filter-container {
      padding-top: 0;

      .filter-layout {
        .filter-list {
          background: transparent;
          padding-top: 0;
          .filter-group {
            margin: 20px 0;

            .v-list__group__header {
              display: flex;
              background: $base;
              border-radius: 5px;
            }

            .v-list__group__header__append-icon {
              padding: 0;
              .v-icon {
                font-size: $vw50;
                color: $white;
                transform: rotate(-90deg);
              }
            }

            .v-list__group__header--active {
              .v-list__group__header__append-icon {
                .v-icon {
                  transform: rotate(0deg);
                }
              }
            }

            .v-list__group__items {
              max-height: 200px;
              overflow-y: auto;
              width: 90%;
              margin: 10px auto;
            }

            .v-list__group__items::-webkit-scrollbar {
              width: 5px;
            }

            .v-list__group__items::-webkit-scrollbar-track {
              background: #c5c6c6;
              border-radius: 5px;
            }

            .v-list__group__items::-webkit-scrollbar-thumb {
              background-color: $base;
              outline: 1px solid slategrey;
              border-radius: 5px;
            }

            .filter-head {
              order: 1;
              color: $white;

              .filter-head-content {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
              }

              .v-list__tile {
                height: auto;
              }

              .v-list__tile__title {
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                font-size: $vw20;
                white-space: normal;
              }

              .coount-filter {
                font-size: $vw20;
              }
            }

            .filter-sublist {
              .v-list__tile {
                padding-left: 10px;

                .v-input__control {
                  .v-label {
                    font-size: $vw16;
                  }
                }
              }

              .filter-sublist-content {
                padding: 0 12px;

                .checkbox-filter {
                  margin: 5px 0;
                }
              }
            }

            &.v-list__group:before,
            &.v-list__group:after {
              display: none;
            }

          }

          .filter-group:first-child {
            margin-top: 0;
          }
        }

        .btn-block {
          .btn-reset {
            background: $white;
            color: $base;
            border: none;
            box-shadow: none;
            font-weight: bold;
            font-size: $vw20;
            padding: $vw10 $vw20;
            height: auto;
          }
        }
      }
    }
  }
</style>
