<template>
  <div class="container-slider">
    <div class="btn prev-slide"></div>
    <div class="slider-overflow">
      <div id="layout-slider" class="layout-slider">
        <div class="block-slider" v-for="(project, i) in projects">
          <projectBlock :project="project"></projectBlock>
        </div>
      </div>
      </div><div class="btn next-slide">
    </div>
  </div>
</template>

<script>
  import Slider from '../../utils/slider'

  export default {
    props: {
      projects: {
        type: Array,
        default: []
      }
    },

    created: function() {
    },

    mounted: () => {
       Slider(document);
    },

    components: {
      projectBlock: () => import('components/projectBlock.vue')
    }
  }
</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";
  .container-slider {
    width: 100%;
    position: relative;

    .slider-overflow {
      overflow-x: hidden;
      min-width: 100%;
      position: relative;
      min-height: $vw265;
    }

    .layout-slider {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      transition: 300ms;
      position: absolute;
      width: 100%;
      left: -1%;
    }

    .block-slider {
      width: 40%;
      min-width: 32%;
      margin: 0 1%;
    }

    .btn {
      position: absolute;
      bottom: calc(50% - 40px);
      height: 85px;
      width: 35px;
      cursor: pointer;
    }

    .btn::after,
    .btn::before {
      content: '';
      height: $vw5;
      width: $vw50;
      background: $base;
      display: block;
      position: absolute;
    }

    .btn::after {
      transform-origin: 0 50%;
      transform: translateY(-75%) rotate(50deg);
      top: 50%;
    }

    .btn::before {
      transform-origin: 0 50%;
      transform: translateY(75%) rotate(-50deg);
      bottom: 50%;
    }

    .next-slide {
      right: -$vw40;
      transform: rotate(180deg);
    }

    .prev-slide {
      left: -$vw40;
    }

    .slider-btn-img {
      height: 90px;
      width: 20px;
    }
  }
</style>
