<template>
  <div class="page-address page">
    <v-container class="page-container">
      <h2 class="title-layout">Производители</h2>
      <v-layout column>
        <v-flex>
          <no-ssr>
            <gmap mapstyle="width: 100%; height: 50vh;"></gmap>
          </no-ssr>
        </v-flex>
        <v-flex class='contacts-title'>
          Адреса салонов в <span class="city">Екатеринбурге</span>
        </v-flex>
        <v-flex class="contacts">
          <address-block :contacts="contacts"></address-block>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr'

  export default {
    data: () => ({
      contacts: [
        {
          address: 'метро "Чкаловская", ул. Союзная, д. 2',
          timeForJob: 'Пн.-Сб.: 10:00 - 20:00; Вс: 10:00 - 18:00',
          email: 'soyuznaya_2@kerama-marazzi.ru',
        },
        {
          address: 'метро "Чкаловская", ул. Союзная, д. 2',
          timeForJob: 'Пн.-Сб.: 10:00 - 20:00; Вс: 10:00 - 18:00',
          email: 'soyuznaya_2@kerama-marazzi.ru',
        },
        {
          address: 'метро "Чкаловская", ул. Союзная, д. 2',
          timeForJob: 'Пн.-Сб.: 10:00 - 20:00; Вс: 10:00 - 18:00',
          email: 'soyuznaya_2@kerama-marazzi.ru',
        },
        {
          address: 'метро "Чкаловская", ул. Союзная, д. 2',
          timeForJob: 'Пн.-Сб.: 10:00 - 20:00; Вс: 10:00 - 18:00',
          email: 'soyuznaya_2@kerama-marazzi.ru',
        },
        {
          address: 'метро "Чкаловская", ул. Союзная, д. 2',
          timeForJob: 'Пн.-Сб.: 10:00 - 20:00; Вс: 10:00 - 18:00',
          email: 'soyuznaya_2@kerama-marazzi.ru',
        },
        {
          address: 'метро "Чкаловская", ул. Союзная, д. 2',
          timeForJob: 'Пн.-Сб.: 10:00 - 20:00; Вс: 10:00 - 18:00',
          email: 'soyuznaya_2@kerama-marazzi.ru',
        },
      ],
    }),

    components: {
      'no-ssr': NoSSR,
      gmap: () => import('components/gmap.vue'),
      addressBlock: () => import('components/addressBlock.vue'),
    }



  }

</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";

  .page-address {
    .contacts-title {
      color: $base;
      font-size: $vw28;
      margin: 2% 0;

      .city {
        font-weight: bold;
        border-bottom: $vw3 solid $base;
      }
    }
  }
</style>
