<template>
  <div class="page">
    <v-container class="catalog-page page-container">
      <v-layout class="catalog-layout" column>
        <v-flex>
          <v-layout class="filters-layout" align-center>
            <v-flex xs10 class="filters-container">
              <div class="filter-block" v-for="filter in filters">
                <span class="filter-name">{{ filter.name }}</span>
                <v-icon class="btn-del-filter">close</v-icon>
              </div>
            </v-flex>
            <v-flex>
              <v-layout class="count-projects-layout" text-xs-right align-baseline>
                <v-flex xs9 class="count-projects-label">На странице</v-flex>
                <v-flex xs3 class="count-projects-select-block">
                  <v-select
                    :items="countProjects"
                    :value="9"
                    class="count-projects-select"
                    solo
                    hide-details
                  >
                  </v-select>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex>
          <projects :projects="projects"></projects>
        </v-flex>
        <v-flex>
          <h2 class="title-layout">Вас могут заинтересовать</h2>
          <projects :projects="projects6"></projects>
        </v-flex>
        <v-flex class="pagination-block" text-xs-center>
          <a class="pagination-edge" href="">Начало</a>
          <v-pagination
            :length="6"
            class="pagination"
          ></v-pagination>
          <a class="pagination-edge" href="">Конец</a>
        </v-flex>
        <btn-chat></btn-chat>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  export default {
    data: () => ({
      filters: [
        {
          name: 'Ванная',
        },
        {
          name: 'Большоая Ванная',
        },
        {
          name: 'Очень большая dfyyfz',
        },
        {
          name: 'Ванная',
        },
        {
          name: 'Ванная',
        },
        {
          name: 'Большоая Ванная',
        },
        {
          name: 'Очень большая dfyyfz',
        },
        {
          name: 'Ванная',
        },
      ],
      projects: [
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
      ],

      projects6: [
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
      ],
      countProjects: [9, 18, 36, 72],

    }),

    components: {
      projects: () => import('components/projects.vue'),
      btnChat: () => import('components/btnChat.vue'),
    }
  }
</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_animation.scss";
  .catalog-page {
    padding-top: 0 !important;

    .catalog-layout {
      .filters-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
      }

      .filter-block {
        display: flex;
        align-items: center;
        margin-top: $vw10;
        margin-right: $vw15;

        .filter-name {
          background: $base;
          color: $white;
          display: block;
          padding: $vw2 $vw20;
          font-size: $vw16;
          border-radius: $vw5;
        }

        .btn-del-filter {
          cursor: pointer;
        }
      }
    }

    .count-projects-select {
      background: $base;
      border-radius: $vw5;
    }
  }
</style>
