<template>
  <div class="page-designer-info page">
    <v-container class="page-container">
      <v-layout column>
        <v-flex>
          <v-layout row justify-space-between>
            <v-flex xs12 sm7>
              <v-layout class="profile" column>
                <v-flex class="profile__title">
                  <h2 class="profile__title_text">Информация о дизайнере</h2>
                </v-flex>
                <v-flex class="profile__content">
                  <v-layout class="profile__content-layout">
                    <v-flex class="profile__avatar">
                      <img class="profile__avatar-img" src="~assets/bin/avatar.jpeg" alt="avatar">
                    </v-flex>
                    <v-flex class="profile__list-info">
                      <v-layout class="profile__list-layout" column row wrap>
                        <v-flex
                          class="profile__item-info"
                          v-for="(item, key) in itemsInfo"
                          :key="key"
                        >
                          <span class="profile__item-name">{{ item.name }}: </span>
                          <span class="profile__item-value">{{ item.value }}</span>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex class="connect">
              <div class="connect__order">
                <v-btn flat class="designer-btn">Заказать дизайн-проект</v-btn>
              </div>
              <div class="connect__message">
                <div class="connect-btn">
                  <div class="connect-btn__icon">
                    <img src="~assets/img/icons/message.svg" class="connect-btn__img">
                  </div>
                  <div class="connect-btn__content">
                    <span class="connect-btn__text">
                      Отправить<br>сообщение
                    </span>
                  </div>
                </div>
              </div>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex>
          <h2 class="title-layout">Мои проекты</h2>
          <projects :projects="projects"></projects>
        </v-flex>
        <btn-chat></btn-chat>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    clickProject: false,
    itemsInfo: [
      {
        name: 'ФИО',
        value: 'Александр петров',
      },
      {
        name: 'Личная иформация',
        value: 'Я дизайнер',
      },
      {
        name: 'Магазин',
        value: 'Плитка урал',
      },
      {
        name: 'Адрес',
        value: 'Екатеринбург',
      },
      {
        name: 'Контактная информация',
        value: '8 999 999 999 99',
      },
    ],
    projects: [
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
    ],
  }),

  components: {
    project: () => import('components/projectBlock.vue'),
    projects: () => import('components/projects.vue'),
    btnChat: () => import('components/btnChat.vue'),
  },
}
</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";
.page-designer-info {
  .title-layout {
    margin-top: 3%;
    margin-bottom: 1%;
  }
}

.connect {
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__order {
    display: flex;

    .designer-btn {
      margin-top: 0;
      margin-bottom: auto;
    }
  }

  &__message {
    margin-top: auto;
    margin-bottom: 0;
  }

  .connect-btn {
    margin-right: -10%;
  }
}

.connect-btn {
  background: $green-btn;
  border-radius: 100px 0 0 100px;
  border: 15px solid $base;
  border-right: none;
  padding: 10px;
  display: flex;
  align-items: center;

  &__icon {
    background: $white;
    border: 5px solid $base;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    padding: 5px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    flex-grow: 1;
    margin-left: 10%;
  }

  &__text {
    color: $white;
    font-size: $vw24;
    font-weight: bold;
    white-space: normal;
    text-transform: uppercase;
  }
}
</style>
