<template>
  <div class="page-designer page">
    <v-container class="page-container">
      <v-layout column>
        <v-flex>
          <v-layout row justify-space-between>
            <v-flex xs12 sm7>
              <v-layout class="profile" column>
                <v-flex class="profile__title">
                  <h2 class="profile__title_text">Информация о дизайнере</h2>
                  <v-btn class="profile__title_btn" icon>
                    <v-icon>edit</v-icon>
                  </v-btn>
                </v-flex>
                <v-flex class="profile__content">
                  <v-layout class="profile__content-layout">
                    <v-flex class="profile__avatar">
                      <img class="profile__avatar-img" src="~assets/bin/avatar.jpeg" alt="avatar">
                    </v-flex>
                    <v-flex class="profile__list-info">
                      <v-layout class="profile__list-layout" column row wrap>
                        <v-flex
                          class="profile__item-info"
                          v-for="(item, key) in itemsInfo"
                          :key="key"
                        >
                          <span class="profile__item-name">{{ item.name }}: </span>
                          <span class="profile__item-value">{{ item.value }}</span>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex class="commerce">
              <v-layout column class="commerce__layout">
                <v-flex class="commerce__money">
                  <div class="commerce__balance">Баланс</div>
                  <div class="commerce__balance-count">
                    100
                    <span class="symbol-money">
                      &#8381;
                    </span>
                  </div>
                  <div class="commerce__transfer">
                    <a href="#" class="link">
                      Перевести на счет
                    </a>
                  </div>
                </v-flex>
                <v-flex class="commerce__project">
                  <div class="commerce__project-title">Дизайн проекты</div>
                  <div class="commerce__project-publish">
                    <span class="commerce__item-name">Выложено на продажу: </span>
                    <span class="commerce__item-value">2</span>
                  </div>
                  <div>
                    <span class="commerce__item-name">Продано: </span>
                    <span class="commerce__item-value">2</span>
                  </div>
                </v-flex>
                <v-flex class="commerce__add-project">
                  <v-btn flat class="designer-btn">+ Добавить проект</v-btn>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex>
          <h2 class="title-layout">Мои проекты</h2>
          <projectsEdit :projects="projects"></projectsEdit>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    itemsInfo: [
      {
        name: 'ФИО',
        value: 'Александр петров',
      },
      {
        name: 'Личная иформация',
        value: 'Я дизайнер',
      },
      {
        name: 'Магазин',
        value: 'Плитка урал',
      },
      {
        name: 'Адрес',
        value: 'Екатеринбург',
      },
      {
        name: 'Контактная информация',
        value: '8 999 999 999 99',
      },
    ],
    projects: [
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
    ],
  }),

  components: {
    // projectEdit: () => import('components/projectBlockEdit.vue'),
    projectsEdit: () => import('components/projectsEdit.vue')
  },
}
</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";
.page-designer {
  .title-layout {
    margin-top: 3%;
    margin-bottom: 1%;
  }
}

// .profile {
//   &__title {
//     background: $base;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     color: $white;
//     padding: 0 20px;
//     border-radius: 5px 5px 0 0;
//     &_text {
//       text-transform: uppercase;
//     }
//     &_btn {
//       .v-icon {
//         color: $white !important;
//       }
//     }
//   }

//   &__content {
//     margin-top: 1%;
//   }

//   &__avatar {
//     max-width: 30%;
//     overflow: hidden;
//     border-radius: 0 0 0 5px;
//   }

//   &__avatar-img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }

//   &__list-info {
//     margin-left: 1%;
//   }

//   &__item-info {
//     background: $grey-light;
//     margin-bottom: 1%;
//     padding: 10px 20px;

//     &:last-child {
//       margin-bottom: 0;
//       border-radius: 0 0 5px 0;
//     }
//   }

//   &__item-name {
//     color: $base;
//     font-weight: bold;
//     font-size: $vw20;
//   }

//   &__item-value {
//     color: $font-grey;
//     font-size: $vw18;
//   }
// }

.commerce {
  font-size: $vw20;
  color: $base;
  margin-left: 3%;

  &__layout {
    justify-content: space-between;
    height: 100%;
  }

  &__money {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__balance,
  &__transfer
  {
    font-weight: bold;
    border-bottom: 2px solid $base;
  }


  &__balance-count {
    font-size: $vw24;
  }

  .link {
    color: $base;
  }

  &__project {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__project-title,
  &__item-value {
    font-weight: bold;
  }

  &__add-project {
    margin-top: auto;
    margin-bottom: 0;
    display: flex;

    .designer-btn {
      margin-top: auto;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .profile {
    &__item-name {
      font-size: 20px;
    }

    &__item-value {
      color: $font-grey;
      font-size: 18px;
    }
  }

  .commerce {
    font-size: 20px;

    &__balance-count {
      font-size: 24px;
    }
  }
}
</style>
