<template>
  <div class="main-page page">
    <v-container class="home-container page-container">
      <v-layout class="home-layout" column>
        <v-flex xs4>
          <h2 class="title-layout">Топ 10</h2>
          <v-layout id="slider">
              <slider :projects="projects"></slider>
          </v-layout>
        </v-flex>
        <v-flex xs4>
          <h2 class="title-layout">Новости</h2>
          <v-layout class="news-layout" row justify-space-between>
            <v-flex xs8 class="news-block">
              <v-carousel
                class="news-carousel"
                hide-controls
              >
                <v-carousel-item
                  v-for="(article,i) in news"
                  :key="i"
                  :src="article.preview">
                  <v-layout class="news-content" column text-xs-center align-center justify-around>
                    <v-flex class="news-content-block">
                      <h3 class="news-title">{{ article.title }}</h3>
                      <p class="news-info">{{ article.info }}</p>
                    </v-flex>
                  </v-layout>
                </v-carousel-item>
              </v-carousel>
            </v-flex>
            <v-flex xs4 class="designer-rating-block">
              <article class="designer-rating">
                <div class="rating-head">
                  <h3 class="head-title">Рейтинг дизайнеров</h3>
                </div>
                <v-list class="designer-list">
                  <template
                    v-for="(designer, i) in designers"
                  >
                    <v-list-tile>
                      <a href="#" class="link designer">
                        <span class="name">{{ i + 1 }}. {{ designer.name }}</span>
                        <span
                          v-for="medal in designer.rating"
                          :class="{
                            'rating-medal': true,
                            'gold': designer.medal == 'gold',
                            'silver': designer.medal == 'silver'}"
                        ></span>
                      </a>
                    </v-list-tile>
                  </template>
                </v-list>
              </article>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs4>
          <h2 class="title-layout">Каталог</h2>
          <projects :projects="projects3"></projects>
        </v-flex>
        <btn-chat></btn-chat>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  export default {
    data: () => ({
      projects: [
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
      ],

      news: [
        {
          title: 'Легко. Просто. Выгодно.',
          info: 'Теперь обновить плитку в ванной комнате не доставит вам много хлопот!',
          preview: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg'
        },
        {
          title: 'Легко. Просто. Выгодно.',
          info: 'Теперь обновить плитку в ванной комнате не доставит вам много хлопот!',
          preview: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg'
        },
        {
          title: 'Легко. Просто. Выгодно.',
          info: 'Теперь обновить плитку в ванной комнате не доставит вам много хлопот!',
          preview: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg'
        }
      ],

      designers: [
        {
          name: 'Анна Смирнова',
          rating: 3,
          medal: 'gold',
          linkToPage: '#',
        },
        {
          name: 'Иван Иванов',
          rating: 3,
          medal: 'silver',
          linkToPage: '#',
        },
        {
          name: 'Иван Иванов',
          rating: 1,
          medal: 'gold',
          linkToPage: '#',
        },
        {
          name: 'Иван Иванов',
          rating: 4,
          medal: 'gold',
          linkToPage: '#',
        },
        {
          name: 'Иван Иванов',
          rating: 2,
          medal: 'silver',
          linkToPage: '#',
        },
      ],

      projects3: [
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
      ],
    }),

    components: {
      slider: () => import('components/slider/slider.vue'),
      btnChat: () => import('components/btnChat.vue'),
      projects: () => import('components/projects.vue'),
    }
  }
</script>

<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";

  .news-block {
    max-width: 66% !important;
  }

  .news-layout {
    color: $white;

    .news-carousel {
      border-radius: 5px;
      box-shadow: none;
      max-height: $vw260;
      height: auto !important;

      .v-window__container {
        height: auto !important;
      }

      .v-carousel__item {
          height: auto !important;

          .v-image__image {
            // background-size: cover;
          }
        }

      .v-responsive__content {
        display: flex;
        background: $black-op30;

        .news-content {
          margin: auto;

          .news-title {
            text-transform: uppercase;
            font-size: $vw32;
            font-weight: bold;
            margin-bottom: 2%;
          }

          .news-info {
            font-size: $vw20;
          }
        }
      }

      .v-carousel__controls {
        background: none;

        .v-carousel__controls__item {
          margin: 0 !important;
        }

        .v-item-group {

          .v-btn {
            box-shadow: none;

            .v-icon {
              font-size: $vw18 !important;
              opacity: 1;
            }

            &.v-btn--active {
              box-shadow: none !important;
              background: none !important;
              border: none !important;
              .v-icon {
                color: $base;
              }
            }

            &.v-btn--active::before {
              background: none;
            }
          }
        }
      }
    }
  }

  .designer-rating-block {
    max-width: 32% !important;
  }

  .designer-rating {
    border-radius: 5px;
    color: $white;
    background: $white;
    min-height: $vw260;

    .rating-head {
      background: $base;
      padding: $vw10;
      border-radius: 5px 5px 0 0;

      .head-title {
        font-weight: bold;
        font-size: $vw20;
        text-align: center;
        text-transform: uppercase;
      }

    }

    .v-list {
      background: none;
      padding: 0;
    }

    .designer-list {

      .v-list__tile {
        padding: 0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .designer {
        display: flex;
        padding: 0 $vw20;
        color: $font-grey;
        text-decoration: none;
        font-weight: bold;
        font-size: $vw16;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        .name {
          margin-right: $vw10;
        }

        .rating-medal {
          display: block;
          width: $vw40;
          height: $vw40;
          background-size: cover !important;
          background-repeat: no-repeat;
          background-position: 0 0;


          &.gold {
            background: url(~assets/img/icons/gold_medal.svg);
          }

          &.silver {
            background: url(~assets/img/icons/silver_medal.svg);
          }

          &:first-child {
            margin-left: 100px;
          }
        }

        &:hover {
          background: $base-light;
          color: $white;
        }
      }
    }
  }


</style>
