<template>
  <div class="producer-page page">
    <v-container class="page-container">
      <h2 class="title-layout">Производители</h2>
      <div class="producer-overflow">
        <v-layout column class="producer-layout">
          <v-flex
            class="producer-block"
            v-for="(producer, key) in producers"
            :key="key">
            <v-layout>
              <v-flex xs3 class="producer-logo">
                <img class="producer-logo-img" :src="producer.logoUrl" alt="logo-producer">
              </v-flex>
              <v-flex xs9 class="producer-content">
                <p class="producer-about">
                  {{ producer.info }}
                </p>
                <div class="producer-address">
                  <a class="link" :href="producer.linkAddress">Адреса магазинов</a>
                </div>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </div>
    </v-container>
  </div>
</template>

<script>
  export default {
    data: () => ({
      producers: [
      {
        logoUrl: 'https://cdn-images-1.medium.com/max/1600/1*HP8l7LMMt7Sh5UoO1T-yLQ.png',
        info: 'Любо́вь Петро́вна Орло́ва — советская актриса театра и кино, певица,\
              танцовщица, пианистка. Лауреат двух Сталинских премий первой степени.\
              Народная артистка СССР.\
              Любовь Орлова родилась 29 января [11 февраля] 1902 года в Звенигороде (ныне в Московской области) в дворянской семье.\
              Её отец Пётр Фёдорович Орлов (1867—1938), служил в военном ведомстве.\
              Мать Евгения Николаевна Сухотина (1878—1945) происходила из старинного дворянского рода.\
              Родители хотели, чтобы дочь стала профессиональной пианисткой, и, когда ей исполнилось семь лет, отдали её в музыкальную школу.\
              Любовь Орлова в юности. Уроки фортепиано\
              В 1919 году окончила Московскую среднюю школу. В 1919—1922 годах училась в Московской консерватории по классу фортепиано у К. А. Киппа[3]. Из-за трудного\ материального положения и, возможно, также проявившейся формы болезни Меньера с поражением слуха, учёба в консерватории не была окончена. С 1922 года по\ 1925 год училась на хореографическом отделении Московского театрального техникума им. А. В. Луначарского (ныне ГИТИС), параллельно брала уроки актёрского\ мастерства у педагога Е. С. Телешовой, режиссёра Художественного театра. С 1920 года по 1926 год работала преподавателем музыки и тапёром (музыкальное\ сопровождение немых кинофильмов) в кинотеатрах Москвы: «Унион» (позднее — кинотеатр повторного фильма), «Арс», «Великий Немой», «Орфеум» и выступала с\ концертными номерами перед киносеансами в кинотеатре «Арс».',
         linkAddress: 'google.com',
      },
      {
        logoUrl: 'https://cdn-images-1.medium.com/max/1600/1*HP8l7LMMt7Sh5UoO1T-yLQ.png',
        info: 'Любо́вь Петро́вна Орло́ва — советская актриса театра и кино, певица,\
              танцовщица, пианистка. Лауреат двух Сталинских премий первой степени.\
              Народная артистка СССР.',
         linkAddress: 'google.com',
      },
      {
        logoUrl: 'https://cdn-images-1.medium.com/max/1600/1*HP8l7LMMt7Sh5UoO1T-yLQ.png',
        info: 'Любо́вь Петро́вна Орло́ва — советская актриса театра и кино, певица,\
              танцовщица, пианистка. Лауреат двух Сталинских премий первой степени.\
              Народная артистка СССР.',
         linkAddress: 'google.com',
      },
      {
        logoUrl: 'https://cdn-images-1.medium.com/max/1600/1*HP8l7LMMt7Sh5UoO1T-yLQ.png',
        info: 'Любо́вь Петро́вна Орло́ва — советская актриса театра и кино, певица,\
              танцовщица, пианистка. Лауреат двух Сталинских премий первой степени.\
              Народная артистка СССР.',
         linkAddress: 'google.com',
      },
      {
        logoUrl: 'https://cdn-images-1.medium.com/max/1600/1*HP8l7LMMt7Sh5UoO1T-yLQ.png',
        info: 'Любо́вь Петро́вна Орло́ва — советская актриса театра и кино, певица,\
              танцовщица, пианистка. Лауреат двух Сталинских премий первой степени.\
              Народная артистка СССР.',
         linkAddress: 'google.com',
      },
      {
        logoUrl: 'https://cdn-images-1.medium.com/max/1600/1*HP8l7LMMt7Sh5UoO1T-yLQ.png',
        info: 'Любо́вь Петро́вна Орло́ва — советская актриса театра и кино, певица,\
              танцовщица, пианистка. Лауреат двух Сталинских премий первой степени.\
              Народная артистка СССР.',
         linkAddress: 'google.com',
      },
      {
        logoUrl: 'https://cdn-images-1.medium.com/max/1600/1*HP8l7LMMt7Sh5UoO1T-yLQ.png',
        info: 'Любо́вь Петро́вна Орло́ва — советская актриса театра и кино, певица,\
              танцовщица, пианистка. Лауреат двух Сталинских премий первой степени.\
              Народная артистка СССР.',
         linkAddress: 'google.com',
      },
      ]
    }),
  }
</script>

<style lang=scss>
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";
  .producer-page {
    .producer-overflow {
      max-height: 1090px;
      overflow-y: scroll;
      padding-right: 3%;
    }

    .producer-block {
      border-top: $vw4 solid $base;

      &:last-child {
        border-bottom: $vw4 solid $base;
      }
    }

    .producer-logo {
      margin: 5% 0;
    }

    .producer-logo-img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    .producer-content {
      margin-left: 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 7%;
      margin-bottom: 2%;
    }

    .producer-about {
      font-size: $vw18;
      // margin-top: 5%;
    }

    .producer-address {
      text-align: right;
      margin-bottom: 1%;

      .link {
        font-size: $vw18;
        font-weight: bold;
        color: $base;
        text-decoration: none;
        border-bottom: $vw3 solid $base;
      }
    }

    .producer-overflow::-webkit-scrollbar {
      width: $vw10;
    }

    .producer-overflow::-webkit-scrollbar-track {
      background: #c5c6c6;
      border-radius: $vw10;
    }

    .producer-overflow::-webkit-scrollbar-thumb {
      background-color: $base;
      outline: 1px solid slategrey;
      border-radius: $vw10;
    }

  }
</style>
