<template>
  <div class="profile-page page">
    <v-container class="page-container">
      <v-layout class="profile-layout" column>
        <v-flex>
          <v-layout row justify-space-between>
            <v-flex class="profile-info" xs9>
              <h2 class="profile-info-title">Ваш профиль</h2>
              <v-layout>
                <v-flex xs3 class="avatar">
                  <img class="avatar-img" src="~assets/bin/avatar.jpeg" alt="avatar">
                </v-flex>
                <v-flex xs9 class="profile-info-list">
                  <v-list class="profile-list">
                    <v-list-tile
                      class="profile-list-item"
                      v-for="(item, key) in infoList"
                      :key="key">
                      <div class="item-name">{{ item.name }}:</div>
                      <div class="item-value">{{ item.value }}</div>
                      <div clas="item-icon">
                        <img class="icon-img" src="~assets/img/icons/pencil.svg" alt="edit">
                      </div>
                    </v-list-tile>
                  </v-list>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs3 class="notification">
              <div class="notification-head">
                Я хочу получать сообщения о новостях
              </div>
              <v-list>
                <v-list-tile
                  v-for="(item, key) in notifications"
                  :key="key"
                  class="notification-list">
                    <v-checkbox
                      :label="item.label"
                      value
                      hide-details
                      class="checkbox-filter">
                    </v-checkbox>
                </v-list-tile>
              </v-list>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex>
          <h2 class="title-layout">Избранное</h2>
          <projects :projects="projects6"></projects>
        </v-flex>
        <v-flex class="pagination-block" text-xs-center>
          <a class="pagination-edge" href="">Начало</a>
          <v-pagination
            v-model="page"
            :length="6"
            class="pagination"
          ></v-pagination>
          <a class="pagination-edge" href="">Конец</a>
        </v-flex>
        <btn-chat></btn-chat>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  export default {
    components: {
      projects: () => import('components/projects.vue'),
      btnChat: () => import('components/btnChat.vue'),
    },
    data: () => ({
      infoList: [
        {
          name: 'ФИО',
          value: 'Андрей Петров'
        },
        {
          name: 'Пол',
          value: 'мужской'
        },
        {
          name: 'Телефон',
          value: '8 952 965 45 54'
        },
        {
          name: 'e-mail',
          value: 'enail@mail.com'
        },
        {
          name: 'Пароль',
          value: '11111111'
        },
      ],
      notifications: [
        {
          type: 'email',
          label: 'На e-mail'
        },
        {
          type: 'sms',
          label: 'По смс'
        },
      ],

      projects6: [
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
      ],
      page: 1,
    })
  }
</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_animation.scss";
  .profile-page {
    .profile-info-title {
      background: $base;
      width: 100%;
      color: $white;
      text-transform: uppercase;
      border-radius: $vw5 $vw5 0 0;
      padding: $vw5 $vw20;
      font-size: $vw24;
    }

    .avatar {
      overflow: hidden;
      border-radius: 0 0 0 $vw5;
    }

    .avatar-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      margin-top: $vw10;
    }

    .profile-info-list {
      margin-top: $vw10;
    }

    .profile-list {
      padding: 0;
    }

    .profile-list-item {
      display: flex;
      color: $font-grey;
      background: $grey-light;
      margin-bottom: $vw10;
      margin-left: $vw10;

      .v-list__tile {
        width: 100%;
        font-size: $vw18;
      }

      .item-name {
        text-transform: uppercase;
        font-weight: bold;
        margin-right: $vw10;
      }

      .item-value {
        flex-grow: 1;
      }

      .item-icon {
        width: $vw40;
        height: $vw40;
        .icon-img {
          widows: 100%;
          height: 100%;
        }
      }

      &:last-child {
        margin-bottom: 0;
        border-radius: 0 0 $vw5 0;
      }
    }

    .notification {
      margin-left: 3%;
    }

    .notification-head {
      background: $base;
      color: $white;
      font-size: $vw20;
      font-weight: bold;
      padding: $vw10;
      text-align: center;
      border-radius: $vw5;
    }

    .notification-list {
      border-bottom: $vw3 solid $base;

      .v-input {
        margin: 0;

        .v-label {
          color: $base;
          font-weight: bold;
          font-size: $vw18;
        }
      }
    }
  }
</style>
