<template>
  <div class="page-stock page">
    <v-container class="page-container">
      <h2 class="title-layout">Акции</h2>
      <v-layout xs12 column>
        <v-flex
          class="stock"
          v-for="(n, key) in 3"
          :key="key"
        >
          <a href="#" class="stock__title">Легко быстро недорого</a>
          <v-layout class="stock__content" row wrap>
            <v-flex class="stock__preview" xs12 sm3>
              <img class="stock__img" src="~assets/bin/catty.jpg" alt="stock">
            </v-flex>
            <v-flex class="stock__info" xs12 sm9>
              <p class="stock__text">
                Проекты
                Превью проектов, размещенных от магазина/дизайнеров магазина. На превью гиперссылки: Продвигать (пока неактивна), Ссылка (генерация ссылки для прямого доступа без отсылки к сайту – отсутствует шапка, подвал, меню), Кол-во просмотров, рейтинг панорамы, кнопка редактировать (ссылка а страницу добавления проекта, где все формы уже заполнены, с возможностью их редактирования), Скрыть/Разместить (проект на странице магазина, если проект скрыт, то на главной странице сайта тоже не отображается, через поиск/путем применения фильтров его найти также нельзя). На странице отображается 6 превью, по 3 в ряд, внизу нумерация страниц. При нажатии на заголовок блока или
                переходе на следующее страницу – проекты открываются в новой странице, по аналогии с главной страницей сайта после применения фильтров.
              </p>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex class="pagination-block" text-xs-center>
          <a class="pagination-edge" href="">Начало</a>
          <v-pagination
            :length="6"
            class="pagination"
          ></v-pagination>
          <a class="pagination-edge" href="">Конец</a>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";
.stock {
  margin: 1% 0;

  &__title {
    color: $base;
    font-size: $vw24;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      border-bottom: 3px solid $base;
    }
  }

  &__content {
    margin-top: 1%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  &__info {
    color: $base;
    font-size: $vw18;
    padding-left: 2%;
  }
}

@media screen and (max-width: 600px) {
  .stock {
    &__title {
      font-size: 24px;
    }

    &__info {
      font-size: 18px;
    }
  }
}
</style>
