<template>
  <div class="page-share page">
    <v-container class="page-container">
      <h2 class="title-layout">Акции</h2>
      <v-layout class="share" column>
        <v-flex class="share__title">
          <h3>Легко. Просто. Выгодно.</h3>
        </v-flex>
        <v-flex class="share__preview">
          <img class="share__img" src="~assets/bin/catty.jpg" alt="share">
        </v-flex>
        <v-flex class="share__subtitle">
            Теперь обновить плитку в ванной комнате не доставитвам мноо хлопот.
        </v-flex>
        <v-flex class="share__text">
          Несмотря на то, что мониторы больших диагоналей становятся всё доступнее, а их разрешение постоянно растёт, иногда возникает задача в ограниченном пространстве уместить много текста. Например, это может понадобиться для мобильной версии сайта или для интерфейса, в котором важно число строк. В подобных случаях имеет смысл обрезать длинные строки текста, оставив только начало предложения. Так мы приведём интерфейс к компактному виду и сократим объём выводимой информации. Само обрезание строк можно делать на стороне сервера с помощью того же PHP, но через CSS это проще, к тому же всегда можно показать текст целиком, например, при наведении на него курсора мыши. Далее рассмотрим методы, как текст порезать воображаемыми ножницами.
          На деле всё сводится к использованию свойства overflow со значением hidden. Различия лишь кроются в разном отображении нашего текста.
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";

.share {

  &__title {
    color: $font-grey;
    font-size: $vw24;
    margin: 1% 0;
  }

  &__preview {
    height: 300px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  &__subtitle {
    color: $base;
    font-size: $vw18;
    font-weight: bold;
    margin: 1% 0;
  }

  &__text {
    color: $base;
    font-size: $vw16;
  }
}

@media screen and (max-width: 600px) {
  .share {
    margin-top: 2%;

    &__title {
      color: $black;
      font-size: 24px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__text {
      font-size: 16px;
    }
  }
}
</style>
