<template>
  <div class="page-shop page">
    <v-container class="shop-container page-container">
      <v-layout class="layout-tabs" align-content-center>
        <v-flex>
          <v-tabs
            hide-slider
            :show-arrows="false">
            <v-tab
              class="shop-tab shop-logo"
              href="#tab-main"
              @click="setQueryParams({tab: 'main'})"
            >
              <img class="shop-logo-img" src="~assets/bin/2.jpg" alt="shop-logo">
            </v-tab>
            <v-tab
              class="shop-tab"
              v-for="(tab, key) in tabs"
              :key="key"
              :href="'#tab-' + tab.slug"
              @click="setQueryParams({tab: tab.slug})">
              {{ tab.name }}
            </v-tab>
            <v-flex class="tab-info">
              <div>
                <p class="tab-info-text tel">
                  <a class="link" href="tel:+73433422500">+7 (343) 342-25-00</a>
                 </p>
                <p class="tab-info-text time">Время работы 9:00 - 20:00</p>
              </div>
              <div class="tab-info-icons">
                <div class="tab-info-icon">
                  <img class="icon-img" src="~assets/img/icons/rubl.svg" alt="rubl">
                </div>
                <div class="tab-info-icon">
                  <img class="icon-img" src="~assets/img/icons/visa.svg" alt="visa">
                </div>
                <div class="tab-info-icon">
                  <img class="icon-img" src="~assets/img/icons/master_card.svg" alt="master card">
                </div>
              </div>
            </v-flex>
            <v-tabs-items class="tabs-items">
              <v-tab-item value="tab-main">
                <shop-main :projects="projects"></shop-main>
              </v-tab-item>
              <v-tab-item value="tab-projects">
                <shop-projects :projects="projects" v-if="!isOpenProject"></shop-projects>
                <shop-project-info v-else></shop-project-info>
              </v-tab-item>
              <v-tab-item value="tab-about">
                <shop-about></shop-about>
              </v-tab-item>
              <v-tab-item value="tab-contacts">
                <shop-contacts></shop-contacts>
              </v-tab-item>
            </v-tabs-items>
          </v-tabs>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
     tabs: [
       {
         name: 'проекты',
         slug: 'projects',
         active: false
       },
       {
         name: 'о магазине',
         slug: 'about',
         active: false
       },
       {
         name: 'контакты',
         slug: 'contacts',
         active: false
       },
       {
         name: 'фотогалерея',
         slug: 'photos',
         active: false
       },
       {
         name: 'акции',
         slug: 'actions',
         active: false
       },
     ],
      projects: [
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
        {
          name: 'Monopole Ceramica',
          designer: {
            name: 'Андрей Петров',
            page: '/andrey'
          },
          pagePorject: '/',
          rating: 2,
        },
      ],

      dialog: false,
      isOpenProject: false,
  }),

  components: {
    shopMain: () => import('components/shop/shopMain.vue'),
    shopProjects: () => import('components/shop/shopProjects.vue'),
    shopProjectInfo: () => import('components/shop/shopProjectInfo.vue'),
    shopAbout: () => import('components/shop/shopAbout.vue'),
    shopContacts: () => import('components/shop/shopContacts.vue'),
  },
  computed: {
    openProject: function(namePorject) {
      this.$router.push({name: 'shop', query: 'projects'},{name: 'project', query: 'namePorject'})
    }
  },

  mounted() {

  },

  update() {

  },

  methods: {
    setQueryParams(queryParams) {
      this.$router.push({name: 'shop', query: queryParams})
    },

    // clickProject() {
    //   console.log('click project')
    // }

  }
}
</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";
  .page-shop {
    position: relative;

    .tabs-items {
      margin-top: 2%;
    }

    .v-tabs__bar {
      border-bottom: 3px solid $base;
    }
  }

  .layout-tabs {
     top: 0;
     left: 0;
     width: 100%;
     align-items: flex-end;
  }

  .shop-logo {
    display: flex;
  }

  .shop-logo-img {
    // width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: $vw50;
    margin: auto;
  }

  .shop-tab {
    color: $base !important;
    font-size: $vw20;
    font-weight: bold;
    text-transform: uppercase;
    border-right: $vw3 solid $base;
    display: flex;

    .v-tabs__item {
      opacity: 1;
    }
  }

  .tab-name {
    margin: auto;
  }

  .tab-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .tab-info-text {
    margin: 0;
    color: $base;

    &.tel {
      font-size: $vw20;
      font-weight: bold;
    }

    &.time {
      font-size: $vw14;
    }

    .link {
      text-decoration: none;
      color: $base;
    }
  }

  .tab-info-icons {
    display: flex;

    .icon-img {
      height: $vw40;
    }
  }

  .pages-shop {
    margin-top: 5%;
  }
</style>
