@font-face {
  font-family: 'MicrosoftYaHei';
  src: url('~assets/font/msyh/MicrosoftYaHei.woff');
  src:
    locale('Microsoft YaHei'),
    url('~assets/font/msyh/MicrosoftYaHei.woff') format('woff'),
    url('~assets/font/msyh/MicrosoftYaHei.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'MicrosoftYaHei';
  src: url('~assets/font/msyh/MicrosoftYaHeiLight.woff');
  src:
    locale('Microsoft YaHei Light'),
    url('~assets/font/msyh/MicrosoftYaHeiLight.woff') format('woff'),
    url('~assets/font/msyh/MicrosoftYaHeiLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'MicrosoftYaHei';
  src: url('~assets/font/msyh/MicrosoftYaHeiBold.woff');
  src:
    locale('Microsoft YaHei Bold'),
    url('~assets/font/msyh/MicrosoftYaHeiBold.woff') format('woff'),
    url('~assets/font/msyh/MicrosoftYaHeiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'MicrosoftYaHeiUI';
  src: url('~assets/font/msyh/MicrosoftYaHeiUI.ttf');
  src: url('~assets/font/msyh/MicrosoftYaHeiUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MicrosoftYaHeiUI';
  src: url('~assets/font/msyh/MicrosoftYaHeiUILight.ttf');
  src: url('~assets/font/msyh/MicrosoftYaHeiUILight.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'MicrosoftYaHeiUI';
  src: url('~assets/font/msyh/MicrosoftYaHeiUI-Bold.ttf');
  src: url('~assets/font/msyh/MicrosoftYaHeiUI-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
