body {
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";

  .page {
    position: relative;
    background: $white;
    border-radius: $vw20;
    min-height: $vw900;
    .page-container {
      border-radius: $vw20;
      padding: $vw20 $vw50;
    }
  }

  .title-layout {
    color: $base;
    font-size: $vw20;
    font-weight: bold;
    border-bottom: $vw3 solid $base;
    padding: 0;
    margin: 10px 0;
    text-transform: uppercase;
    display: inline-block;
    line-height: $vw22;
  }

  .project-flex {
    max-width: 32%;
    flex-basis: 32%;
    margin: 1% 0;
  }

  .project-block {
      min-height: $vw260;
      position: relative;
      color: $white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 5px;
      font-size: $vw16;

      .project-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px;
      }

      .link {
        color: $white;
        text-decoration: none;
      }

      .icon-svg {
        filter: drop-shadow( 0 -3px 4px #00000080);
        width: $vw40;
      }

      .header-project {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        .link {
          display: block;
          text-shadow: 0 -3px 2px #00000080;
        }

        .project-name {
          display: block;
        }
      }

      .footer-project {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        padding: 3% 5%;
        background: $black-op20;
        border-radius: 0 0 5px 5px;

        .designer-name {
          margin-left: 5px;
          font-weight: bold;
          border-bottom: 2px solid $white;
        }

        .rating {
          .v-rating {
            .v-icon {
              padding: 0  !important;
              font-size: $vw20 !important;
            }
          }
        }
      }

      .projects-details {
        position: absolute;
        top: 50%;
        right: 0;
        background: $base;
        font-size: $vw12;
        font-weight: bold;
        border-radius: $vw5 $vw5 0 0;
        transform-origin: bottom center;
        transform: translate(50%,-100%) rotate(-90deg);

        .link {
          display: block;
          padding: 5px 10px;
        }
      }

      .projects-details:hover {
        opacity: .9;
      }
  }

  .catalog-block {
    flex-basis: 32%;
    max-width: 32%;
    margin: 1% 0;
  }

  .pagination-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pagination-edge {
    text-decoration: none;
    font-size: $vw14;
    color: $base;
  }

  .pagination {
    .v-pagination__navigation {
      background: none;
      box-shadow: none;
      margin: 0;

      .v-icon {
        color: $base !important;
        font-size: $vw24;
      }
    }

    .v-pagination__item {
      background: none;
      box-shadow: none;
      color: $pagination !important;
      font-size: $vw24;
      font-weight: bold;
      margin: 0;

      &.v-pagination__item--active {
        color: $base !important;
      }
    }

    .v-pagination__item:focus {
      outline: 0;
    }

    .primary {
      background: none !important;
      border: none !important;
    }
  }


  .v-input--checkbox {
    .v-label {
      color: $font-grey;
    }

    .accent--text {
      color: $base !important;
      caret-color: $base !important;
    }

    .v-input--selection-controls__ripple {
      width: $vw34;
      height: $vw34;
      display: none;
    }

    .v-input--selection-controls__input {
      height: $vw24;
      width: $vw24;

      .v-icon {
        font-size: $vw24;
      }
    }
  }

  .v-dialog {
    box-shadow: none;
    width: auto;
  }

  .v-text-field {
    .v-input__append-inner {
      margin-left: 0;
      margin-right: auto;
      padding-right: 4px;
      min-height: $vw30;
      margin: auto !important;
      display: flex;

      .v-input__icon {
        margin: auto;
        width: $vw24;
        height: $vw24;
        min-width: 20px;

        .theme--light.v-icon {
          color: $base;
          font-size: $vw24;

          &.primary--text {
            color: $base !important;
          }
        }
      }
    }

    .v-input__slot {
      min-height: 20px !important;
      height: $vw40 !important;
      max-height: 30px;
      background: red;
      display: flex;
      border-color: $white;
      background: $white !important;
      padding-left: 0;

      input {
        margin: 0 !important;
      }
    }
  }

  .dialog-btn {
    text-transform: none;
    color: $white !important;
    font-size: $vw18;
    font-weight: bold;
    background: $base !important;
    box-shadow: none;
  }

  .view-all {
    color: $base;
    border-bottom: $vw2 solid $base;
    text-decoration: none;
    font-size: $vw18;
    font-weight: bold;
  }

  .profile-shop__resources__list-designer__list::-webkit-scrollbar,
  .page-projects__project-layout::-webkit-scrollbar {
    width: 5px;
  }

  .profile-shop__resources__list-designer__list::-webkit-scrollbar-track,
  .page-projects__project-layout::-webkit-scrollbar-track {
    background: #c5c6c6;
    border-radius: 5px;
  }

  .profile-shop__resources__list-designer__list::-webkit-scrollbar-thumb,
  .page-projects__project-layout::-webkit-scrollbar-thumb {
    background-color: $base;
    outline: 1px solid slategrey;
    border-radius: 5px;
  }

  .dialog-confirm {
    background: $white;
    color: $base;
    border: 5px solid $base;
    border-radius: 10px;
    padding: 5% 10%;

    &_text {
      font-size: $vw20;
    }

    &__btns {
      margin-top: 10%;
      margin-bottom: 5%;

      &_btn {
        color: $white !important;
        background: $base;
        font-weight: bold;
        text-transform: none;
        border-radius: 5px;
      }
    }
  }

  .count-projects-label {
    color: $base;
    font-size: $vw15;
    margin-right: $vw20;
  }

  .count-projects-select-block {
    max-width: 80px !important;

    .v-input {
      box-shadow: none;
    }

    .v-input__control {
      min-height: $vw20 !important;

      .v-input__slot {
        padding: 0 !important;
        background: $base !important;
        box-shadow: none !important;

        .v-select__slot {
          border: 2px solid $base;
          background: $base;
          border-radius: 5px;
          padding-right: 3px;

          .v-input__append-inner {
            min-height: $vw20;
          }
        }
      }

      .v-select__selections {
        color: $white;
        font-size: $vw15;
      }

      .v-select__selection--comma {
        margin: 7px 4px 7px 4px;
      }
    }

    .v-input__append-inner {
      background: $white;
      padding: 0;
      margin: 0 5px;
      .primary--text {
        color: $base !important;
        caret-color: $base !important;
      }
    }
  }

  .count-projects-select {
    background: $base;
    border-radius: $vw5;
  }

  .gallery-shop {
    &__main-photo {
      max-width: 30%;
      margin-right: 1.3%;
      margin-bottom: 1.3%;
    }

    &__photo {
      max-width: 32% !important;
      flex-basis: 32% !important;
      margin-bottom: 2%;
    }

    .photo-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $vw5;
    }
  }

  .symbol-money {
    font-family: arial;
  }

  .link {
    text-decoration: none;
  }

  .profile {
    &__title {
      background: $base;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $white;
      padding: 0 20px;
      border-radius: 5px 5px 0 0;
      &_text {
        text-transform: uppercase;
        padding: 10px 0;
      }
      &_btn {
        .v-icon {
          color: $white !important;
        }
      }
    }

    &__content {
      margin-top: 1%;
    }

    &__avatar {
      max-width: 30%;
      overflow: hidden;
      border-radius: 0 0 0 5px;
    }

    &__avatar-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__list-info {
      margin-left: 1%;
    }

    &__item-info {
      background: $grey-light;
      margin-bottom: 1%;
      padding: 5px 20px;

      &:last-child {
        margin-bottom: 0;
        border-radius: 0 0 5px 0;
      }
    }

    &__item-name {
      color: $base;
      font-weight: bold;
      font-size: $vw20;
    }

    &__item-value {
      color: $font-grey;
      font-size: $vw18;
    }
  }

  .designer-btn {
    font-weight: bold;
    color: $white !important;
    font-size: $vw22;
    background: $base;
    width: 100%;
    padding: 2%;
    height: auto;
    border-radius: 5px;
    margin: 0;
  }

  .connect-btn {
    background: $green-btn;
    border-radius: 100px 0 0 100px;
    border: 15px solid $base;
    border-right: none;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &__icon {
      background: $white;
      border: 5px solid $base;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      padding: 5px;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__content {
      flex-grow: 1;
      margin-left: 10%;
    }

    &__text {
      color: $white;
      font-size: $vw24;
      font-weight: bold;
      white-space: normal;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 600px) {
    .page {
      border-radius: 20px;
      .page-container {
        border-radius: 20px;
        padding: 20px 50px;
      }
    }

    .title-layout {
      font-size: 20px;
      border-bottom-width: 3px;
      margin: 10px 0;
      line-height: 22px;
    }

    .view-all {
      border-bottom-width: 2px;
      font-size: 18px;
    }

    .project-block {
      min-height: 260px;
      border-radius: 5px;
      font-size: 16px;

      .icon-svg {
        width: 40px;
      }

      .footer-project {
        .rating {
          .v-rating {
            .v-icon {
              font-size: 20px !important;
            }
          }
        }
      }

      .projects-details {
        font-size: 12px;
        border-radius: 5px 5px 0 0;

        .link {
          padding: 5px 10px;
        }
      }
    }

    .pagination-edge {
      font-size: 14px;
    }

    .pagination {
      .v-pagination__navigation {
        .v-icon {
          font-size: 24px;
        }
      }

      .v-pagination__item {
        font-size: 24px;
      }
    }

    .v-input--checkbox {
      .v-input--selection-controls__ripple {
        width: 34px;
        height: 34px;
      }

      .v-input--selection-controls__input {
        height: 24px;
        width: 24px;

        .v-icon {
          font-size: 24px;
        }
      }
    }

    .v-text-field {
      .v-input__append-inner {
        min-height: 30px;

        .v-input__icon {
          width: 24px;
          height: 24px;

          .theme--light.v-icon {
            font-size: 24px;
          }
        }
      }

      .v-input__slot {
        height: 20px !important;
      }
    }

    .dialog-btn {
      font-size: 18px;
    }

    .designer-btn {
      font-size: 22px;
    }

    .connect-btn {
      &__text {
        font-size: 24px;
      }
    }
  }
}

