$white: #ffffff !default;
$black: #000000 !default;
$base: #224d59 !default;
$base-light: #859ba1 !default;
$gray-back: #d9dada !default;
$font-grey: #434242 !default;
$grey-light: #e5e5e590 !default;
$pagination: #808080 !default;
$green-light: #509ea8 !default;
$green-btn: #5c99a9 !default;


$black-op20: rgba(0, 0, 0, .20);
$black-op30: rgba(0, 0, 0, .30);
$black-op35: rgba(0, 0, 0, .35);
$black-op50: rgba(0, 0, 0, .5);
// $back-footer: #d9dada !default;
