<template>
  <div class="shop-main">
    <h2 class="title-layout">Проекты</h2>
    <v-layout class="shop-main__slider">
      <slider :projects="projects"></slider>
    </v-layout>
    <h2 class="title-layout">О магазине</h2>
    <v-layout class="shop-main__info" justify-space-between>
      <v-flex xs9 class="shop-main__info__block">
        <h3 class="shop-main__info_title">Информация о магазине</h3>
        <div class="shop-main__info__content">
          <div class="shop-main__info__content__preview">
            <img class="shop-main__info__content__preview_img" src="~assets/bin/avatar.jpeg" alt="">
          </div>
          <div class="shop-main__info__content__desc">
            <p class="shop-main__info__content__desc_text">
              Поисковые системы оценивают качество и релевантность статьи по содержащимся в ней словам и словосочетаниям (коллокациям). Чем больше в тексте тематичных ключевых фраз, тем больше шансов, что он получит высокую оценку.
              Соответственно, если в тексте будет мало ключевых слов, но много «воды» — стоп-слов, вставных слов, шаблонных фраз, качество статьи будет низким.
              Но и слишком большое количество ключевиков — тоже плохо, такой документ получит отметку «переспам» и вряд ли будет показан в поисковой выдаче.
              Оценить эти показатели поможет сервис семантического анализа, который покажет процент ключевых слов и количество стоп-слов в тексте.
            </p>
          </div>
        </div>
      </v-flex>
      <v-flex class="shop-main__callback">
        <div class="shop-main__callback__info">
          Хотите, чтобы для Вас создали индивидуальный дизайн?
        </div>
        <div class="shop-main__callback__btn-block">
          <div
            class="shop-main__callback__btn-block__btn"
            @click="dialog = !dialog"
          >
            <div class="shop-main__callback__btn-block__btn__icon">
              <img class="shop-main__callback__btn-block__btn__icon_img" src="~assets/img/icons/callback.svg" alt="callback">
            </div>
            <div class="shop-main__callback__btn-block__text">
              <span>Заказать обратный звонок</span>
            </div>
          </div>
        </div>
      </v-flex>
    </v-layout>
    <h2 class="title-layout">Акции</h2>
    <v-layout class="promotions" justify-space-between>
      <v-flex class="promotion-block" v-for="n in 3" :key="n">
        <v-layout class="promotion">
          <v-flex xs6 class="promotion__preview">
            <img class="promotion__preview_img" src="~assets/bin/catty.jpg" alt="promotion">
          </v-flex>
          <v-flex class="promotion__content">
            <span class="promotion__content_time">12.10.2018</span>
            <h3 class="promotion__content_title">Легко. Быстро. Недорого</h3>
            <p class="promotion__content_desc">
              Теперь ремонт перестанет быть проблемой.
            </p>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
     <v-dialog
       v-model="dialog"
      >
      <div class="shop-dialog">
        <v-layout class="shop-dialog__layout" column>
          <v-flex xs6 class="shop-dialog__layout__top">
            <div class="shop-dialog__layout__top_text">
              Заказ обратного звонка
            </div>
            <div class="shop-dialog__layout__top__icon">
              <img src="~assets/img/icons/phone_head.svg" alt="" class="shop-dialog__layout__top__icon_img">
            </div>
          </v-flex>
          <v-flex xs6 class="shop-dialog__layout__bottom">
            <div class="shop-dialog__layout__bottom__block-input">
              <v-text-field
                outline
                hide-details
                append-icon="create"
                class="shop-dialog__layout__bottom__block-input__input">

              </v-text-field>
            </div>
            <div class="shop-dialog__layout__bottom__block-input">
              <v-text-field
                outline
                hide-details
                append-icon="create"
                class="shop-dialog__layout__bottom__block-input__input">

              </v-text-field>
            </div>
            <div class="shop-dialog__layout__bottom__btn">
              <v-btn class="dialog-btn">
                Заказать знонок!
              </v-btn>
            </div>
          </v-flex>
        </v-layout>
      </div>
     </v-dialog>
  </div>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
  }),
  props: {
    projects: {
      type: Array,
      default: []
    }
  },
  components: {
    slider: () => import('components/slider/slider.vue'),
  }
}
</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";
.shop-main {
  width: 100%;

  .title-layout {
    margin: 2% 0;
  }

  &__info {
    &__block {
      max-width: 66% !important;
    }

    &_title {
      background: $base;
      color: $white;
      font-size: $vw24;
      width: 100%;
      padding: $vw10 $vw25;
      border-radius: $vw5 $vw5 0 0;
    }

    &__content {
      padding-top: $vw10;
      display: flex;
      &__preview {
        margin-right: $vw10;
        min-width: $vw200;
        &_img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0 0 0 $vw5;
        }
      }

      &__desc {
        background: $grey-light;
        border-radius: 0 0 $vw5 0;
        padding: 1% 2%;
        font-size: $vw16;
      }
    }
  }

  &__callback {
    max-width: 32% !important;
    position: relative;

    &__info {
      font-size: $vw20;
      text-align: left;
    }

    &__btn-block {
      position: absolute;
      top: calc(30%);
      right: -$vw50;

      &__btn {
        background: $green-light;
        color: $white;
        border: $vw15 solid $base;
        width: $vw450;
        height: $vw120;
        border-radius: $vw120 0 0 $vw120;
        border-right: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;

        &__icon {
          margin-left: $vw5;
          width: $vw80;
          height: $vw80;

          &_img {
            width: 100%;
            height: 100%;
            object-fit: contain;

          }
        }
      }

      &__text {
        font-size: $vw20;
        font-weight: bold;
        max-width: 40%;
        margin-left: 10%;
        text-align: center;
        text-transform: uppercase;
        line-height: $vw26;
      }
    }
  }
}

.promotion-block {
  max-width: 32%;
}

.promotion {
  &__preview {
    margin-right: 5%;

    &_img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: $vw5;
    }
  }

  &__content {
     &_time {
       color: $base;
       font-size: $vw14;
       font-weight: bold;
     }

     &_title {
       font-size: $vw20;
       font-weight: bold;
     }

     &_desc {
       font-size: $vw18;
     }
  }
}

.shop-dialog {
  max-width: 500px;
  margin: 0 auto;
  border-radius: $vw20;
  overflow: hidden;

  &__layout {
    &__top {
      background: $base;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $white;
      padding: 5% 0;

      &_text {
        width: 30%;
        font-size: $vw30;
        white-space: normal;
        text-align: center;
        font-weight: bold;
        margin: auto;
        // line-height: $vw50;
      }

      &__icon {
        width: 50%;
        display: flex;
        &_img {
          margin: auto;
          width: 70%;
          height: 100%;
          fill: $white;
          filter: drop-shadow( 0 -5px 10px #00000080);
        }
      }
    }

    &__bottom {
      background: $white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 5% 0;

      &__block-input {
        width: 90%;
        margin: 3% auto;
        &__input {

          .v-input__slot {
            border-color: $base !important;

            input {
              text-align: center;
              color: $base !important;
              font-size: $vw20;
            }

            .v-input__icon {
              margin: 0 !important;
            }
          }
        }
      }

      &__btn {
        margin-top: 2%;
      }
    }
  }
}
</style>
