<template>
  <div>
    <h2 class="title-layout">Проекты</h2>
    <projects :clickProject="setQueryProject" :projects="projects"></projects>
    <v-layout>
      <v-flex class="pagination-block" text-xs-center>
        <a class="pagination-edge" href="">Начало</a>
        <v-pagination
          :length="6"
          class="pagination"
        ></v-pagination>
        <a class="pagination-edge" href="">Конец</a>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  props: {
    projects: {
      type: Array,
      default: []
    }
  },

  data: () => ({
  }),

  components: {
    projects: () => import('components/projects.vue')
  },

  methods: {
    setQueryProject(nameProject) {
      this.$router.push({
        name: 'shop',
        query: {
          tab: 'projects',
          project: nameProject,
        }
      })
    }
  }
}
</script>

<style>

</style>
