<template>
  <div class="shop-info">
    <h2 class="title-layout">Название магазина</h2>
    <v-layout class="shop-info__layout">
      <v-flex xs4 class="shop-info__preview">
        <img class="shop-info__preview_img" src="~assets/bin/catty.jpg" alt="shop">
      </v-flex>
      <v-flex xs8 class="shop-info__description">
        <p class="shop-info__description_text">
          Внешний вид SVG-элементам можно задавать как с помощью CSS, так и с помощью SVG-фильтров, градиентов и паттернов — их можно прописывать элементам прямо в коде либо задавать также через CSS.
          Стили и скрипты можно задавать внутри SVG-файла, но если мы хотим, чтобы одно и то же изображение в разных условиях выглядело по-разному — стили внутри файла не годятся — нужно, чтобы векторное содержимое было доступно для внешних стилей.
          Из всех способов вставки SVG для этого подходят всего два: иконочный шрифт или инлайновый SVG в HTML (удобнее всего делать это через use).
          Какие стили оформления можно использовать для иконочных шрифтов?
          Можно задать цвет, добавить тени и анимацию:
        </p>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  props: {
    infoShop: {
      type: Object,
      default: null
    }
  },
}
</script>

<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_variables.scss";

.shop-info {
  &__preview {
    &_img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__description {
    padding-left: 2%;
    &_text {
      font-size: $vw16;
    }
  }
}

</style>
