<template>
  <div class="shop-contacts">
    <v-layout column>
      <v-flex xs12>
        <h2 class="title-layout">Фотогалерея</h2>
      </v-flex>
      <v-flex xs12>
        <v-layout class="gallery-shop">
          <v-flex class="gallery-shop__main-photo" xs12 sm4>
            <img class="gallery-shop__main-photo_img photo-img" src="~assets/bin/catty.jpg" alt="photo shop">
          </v-flex>
          <v-flex xs12 sm8>
            <v-layout class="gallery-shop__photos-layout" row wrap justify-space-between>
              <v-flex class="gallery-shop__photo" xs12 sm3 v-for="n in 6" :key="n">
                <img class="gallery-shop__photo_img photo-img" src="~assets/bin/catty.jpg" alt="photo shop">
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12 align-self-end>
        <a class="view-all" href="#">
          Смотреть всё
        </a>
      </v-flex>
      <v-flex>
        <h2 class="title-layout">Адрес магазина</h2>
      </v-flex>
      <v-flex>
        <no-ssr>
          <gmap mapstyle="width: 100%; height: 300px"></gmap>
        </no-ssr>
      </v-flex>
      <v-flex>
        <address-block
          :contacts="contacts">
        </address-block>
      </v-flex>
    </v-layout>

  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr'
export default {
  props: {
   shop: {
     type: Object,
     default: null
   }
  },

  data: () => ({
    contacts: [
      {
        address: 'метро "Чкаловская", ул. Союзная, д. 2',
        timeForJob: 'Пн.-Сб.: 10:00 - 20:00; Вс: 10:00 - 18:00',
        email: 'soyuznaya_2@kerama-marazzi.ru',
      },
      {
        address: 'метро "Чкаловская", ул. Союзная, д. 2',
        timeForJob: 'Пн.-Сб.: 10:00 - 20:00; Вс: 10:00 - 18:00',
        email: 'soyuznaya_2@kerama-marazzi.ru',
      },
      {
        address: 'метро "Чкаловская", ул. Союзная, д. 2',
        timeForJob: 'Пн.-Сб.: 10:00 - 20:00; Вс: 10:00 - 18:00',
        email: 'soyuznaya_2@kerama-marazzi.ru',
      },
      {
        address: 'метро "Чкаловская", ул. Союзная, д. 2',
        timeForJob: 'Пн.-Сб.: 10:00 - 20:00; Вс: 10:00 - 18:00',
        email: 'soyuznaya_2@kerama-marazzi.ru',
      },
      {
        address: 'метро "Чкаловская", ул. Союзная, д. 2',
        timeForJob: 'Пн.-Сб.: 10:00 - 20:00; Вс: 10:00 - 18:00',
        email: 'soyuznaya_2@kerama-marazzi.ru',
      },
      {
        address: 'метро "Чкаловская", ул. Союзная, д. 2',
        timeForJob: 'Пн.-Сб.: 10:00 - 20:00; Вс: 10:00 - 18:00',
        email: 'soyuznaya_2@kerama-marazzi.ru',
      },
    ],
  }),

  components: {
    'no-ssr': NoSSR,
    gmap: () => import('components/gmap.vue'),
    addressBlock: () => import('components/addressBlock.vue'),
  }
}
</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";
.shop-contacts {
}
</style>
