<template>
  <v-layout column>
    <v-flex
      v-for="(infoShop, index) in contacts"
      :key="index"
    >
      <v-layout class="contacts-block">
        <div class="contacts-block-index">{{ index + 1 }})</div>
        <div class="contacts-block-info">
          <p>{{ infoShop.address }}</p>
          <p>{{ infoShop.timeForJob }}</p>
          <p>{{ infoShop.email }}</p>
        </div>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: {
    contacts: {
      type: Array,
      default: []
    },
  },
}
</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";
.contacts-block {
  color: $base;
  font-size: $vw18;
  margin: 1% 0;
}

.contacts-block-index {
  margin-right: $vw10;
}

@media screen and (max-width: 600px) {
  .contacts-block {
    font-size: 18px;
  }

  .contacts-block-index {
    margin-right: 10px;
  }
}
</style>
