<template>
  <div class="btn-chat-block">
    <div class="btn-chat-circle">
      <img class="chat-icon" src="~assets/img/icons/chat.svg" alt="">
    </div>
  </div>
</template>

<script>
  export default {
  }
</script>

<style lang="scss">
@import "~assets/scss/_sizes.scss";
@import "~assets/scss/_animation.scss";
@import "~assets/scss/_variables.scss";
  .btn-chat-block {
    width: $vw150;
    height: $vw150;
    border-radius: $vw100 0 $vw100 $vw100;
    background: #d9dada;
    display: flex;
    position: sticky;
    bottom: $vw60;
    right: $vw20;
    cursor: pointer;
    transition: 500ms;
    margin-left: auto;
    margin-top: -$vw150;
    box-shadow: 0 0 $vw10 $vw5 rgba(0, 0, 0, 0.35);

    .btn-chat-circle {
      width: $vw120;
      height: $vw120;
      border-radius: $vw120;
      background: white;
      margin: auto;
      transition: 500ms;

      .chat-icon {
        width: 100%;
      }
    }

    &:hover .btn-chat-circle {
      transition: 500ms;
      transform: rotate(360deg);

      .chat-icon {
        transform: scale(1.2);
        transition: 500ms;
      }
    }
  }
</style>
