<template>
<div class="">
  <gmap-map
    :center="centred"
    :zoom="zoom"
    :style="mapstyle"
  >
    <gmap-marker
      :key="index"
      v-for="(m, index) in setMarkers"
      :position="m.position"
      :clickable="true"
      :draggable="true">
        <gmap-info-window>
          <shop-info>
          </shop-info>
        </gmap-info-window>
    </gmap-marker>
  </gmap-map>
</div>
</template>
<script>
/////////////////////////////////////////
// New in 0.4.0
import Vue from 'vue'
import * as VueGoogleMaps from 'vue2-google-maps'

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyBLzq5PDnx9TXU2zlegSiOzW9lNH3x8HLg',
    libraries: ['places'],
    version: '3',
  }
})
export default {
  props: {
    mapstyle: {
      type: String,
      default: 'width: 500px; height: 300px'
    },
    markers: {
      type: Array,
      default: undefined
    },
    zoom: {
      type: Number,
      default: 12
    },
    center: {
      type: Object,
      default: undefined
    },
    opened: {
      type: Boolean,
      default: true
    },
  },
  data () {
    return {
      setMarkers: this.markers || [
      {
        position:
        {
          lat: 0,
          lng: 0
        }
      }],
      centred: this.center || {lat : 0, lng : 0}
    }
  },
  mounted: function() {
  },
  methods: {
  },
  components: {
    shopInfo: () => import('components/shopInfo.vue')
  }
}
</script>
