<template>
  <v-layout row justify-space-between wrap>
    <v-flex
      class="project-flex"
      v-for="(project, key) in projects"
      :key="key"
     >
      <div class="project-block edit">
        <img class="project-img" src="~assets/bin/preview1.png" alt="preview">
        <div class="header-project">
          <a class="link" :href="project.pageProject">
            <img class="icon-svg" src="~assets/img/icons/pencil-white.svg" alt="view">
          </a>
        </div>
        <div class="footer-project">
          <div class="extend">
            <span class="edit-link">Продвигать</span>
          </div>
          <div>
            <a class="edit-link" href="#">Cсылка</a>
          </div>
          <div class="statistic">
            <div class="statistic__view">
              <span class="statistic_value">15</span>
              <img class="statistic_icon" src="~assets/img/icons/view.svg" alt="view">
            </div>
            <div class='statistic__stars'>
              <span class="statistic_value">5</span>
              <img class="statistic_icon" src="~assets/img/icons/star.svg" alt="star">
            </div>
          </div>
        </div>
        <div class="projects-details">
          <a href="#" class="link">Разместить</a>
        </div>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    props: {
      projects: {
        type: Array,
        default: []
      }
    },
  }

</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";
.project-block.edit {
  .header-project {
    padding: 5px;
    .link {
      margin-right: 0;
      margin-left: auto;
      display: block;
      .icon-svg {
      }
    }
  }

  .edit-link {
    color: $white;
    text-decoration: none;
    border-bottom: 2px solid $white;
    font-size: $vw18;
    font-weight: bold;
  }

  .statistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__view,
    &__stars {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__view {
      margin-right: 10px;
    }

    &_icon {
      width: 20px;
      margin-left: 5px;
    }
  }
}
</style>
