<template>
  <div class="project-block">
    <img class="project-img" src="~assets/bin/preview1.png" alt="preview">
    <div class="header-project">
      <a class="link" :href="project.pageProject">
        <img class="icon-svg" src="~assets/img/icons/view.svg" alt="view">
      </a>
      <a class="link project-name" href="#">
        {{ project.name }}
      </a>
    </div>
    <div class="footer-project">
      <div class="designer">
        Дизайнер: <a :href="project.designer.page" class="link designer-name">
          {{ project.designer.name }}
        </a>
      </div>
      <div class="rating">
        <v-rating
          v-model="project.rating"
          background-color="orange lighten-3"
          color="yellow"
          readonly
          >
          </v-rating>
      </div>
    </div>
    <div class="projects-details">
      <a href="#" class="link">Детали проекта</a>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      project: {
        type: Object,
        default: null
      }
    },
  }

</script>

