<template>
  <div>
    <h2>{{ setOffice.name }}</h2>
    <div>
      <img :src="setOffice.photo" alt="photo shop">
    </div>
    <div>
      <p v-for="(item, key) in listContacts">
         <span>{{ item.type }}: </span>
         {{ item.contact }}
       </p>
    </div>
  </div>
</template>


<script>
  export default {
    props: {
      office: {
        type: Object,
        default: function () { return {} }
      },
    },
    data: function () {
      return {
        setOffice: this.office || {},
        listContacts: [
          {
            type: 'Адрес',
            contact: this.office.address
          },
          {
            type: 'Телефон',
            contact: this.office.phone
          },
          {
            type: 'Время работы',
            contact: this.office.timeWork
          },
        ]
      }
    }

  };
</script>
