<template>
  <div class="page-shop-gallery page">
    <v-container class="page-container">
      <v-layout justify-start align-center row wrap>
        <v-flex xs12 sm2>
          <h2 class="title-layout">Фотогалерея</h2>
        </v-flex>
        <v-flex xs12 sm8>
          <v-checkbox label="Отображать на странице фотогалерею" value="value"></v-checkbox>
        </v-flex>
        <v-flex xs12>
          <p class="page-shop-gallery_describe">Перетащите фото, чтобы поменять его расположение</p>
        </v-flex>
      </v-layout>
      <v-layout class="gallery-shop">
        <v-flex class="gallery-shop__main-photo" xs12 sm4>
          <img class="gallery-shop__main-photo_img photo-img" src="~assets/bin/catty.jpg" alt="photo shop">
          <v-btn class="page-shop-gallery__btn" icon>
            <v-icon>clear</v-icon>
          </v-btn>
        </v-flex>
        <v-flex xs12 sm8>
          <v-layout class="gallery-shop__photos-layout" row wrap justify-space-between>
            <v-flex class="gallery-shop__photo" xs12 sm3 v-for="n in 6" :key="n">
              <img class="gallery-shop__photo_img photo-img" src="~assets/bin/catty.jpg" alt="photo shop">
              <v-btn class="page-shop-gallery__btn" icon>
                <v-icon>clear</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout row justify-space-between>
        <v-flex class="page-shop-gallery__photo" v-for="n in 5" :key="n">
          <img class="page-shop-gallery__photo_img" src="~assets/bin/catty.jpg" alt="shop">
          <v-btn class="page-shop-gallery__btn" icon>
            <v-icon>clear</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>

</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";
.page-shop-gallery {
  color: $base;

  .v-input--checkbox .v-label {
    color: $base;
    font-size: $vw18;
  }

  &_describe {
    font-size: $vw18;
  }

  &__photo {
    max-width: 18%;
    flex-basis: 18%;

    &_img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .gallery-shop__main-photo,
  .gallery-shop__photo,
  &__photo {
    position: relative;
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;

    .v-icon {
      color: $white !important;
      text-shadow: 2px -2px 5px $black-op50;
    }

    &:hover {
      position: absolute;
    }
  }
}
</style>
