<template>
  <div class="page-profile-shop page">
    <v-container class="page-container">
      <v-layout class="profile-shop" column>
        <v-flex>
          <v-layout justify-space-between row wrap>
            <v-flex class="profile-shop__info-shop" xs12 sm6>
              <h3 class="profile-shop__info-shop_title">Информация о магазине</h3>
              <div
                v-for="(item, key) in items"
                :key="key"
                class="profile-shop__info-shop__list">
                <v-layout row class="profile-shop__info-shop__list__item" align-center>
                  <v-flex class="profile-shop__info-shop__list__label">
                    <span class="profile-shop__info-shop__list__label_name">{{ item.name }}:</span>
                    <span class="profile-shop__info-shop__list__label_value">{{ item.value }}</span>
                  </v-flex>
                  <v-flex class="profile-shop__info-shop__list__btn">
                    <v-btn flat fab>
                      <v-icon>edit</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </div>
            </v-flex>
            <v-flex class="profile-shop__resources">
              <v-layout class="profile-shop__resources__balance" justify-start>
                <v-flex class="profile-shop__resources__balance_name">Баланс</v-flex>
                <v-flex class="profile-shop__resources__balance_value">100 <span class="simbol-money">&#8381;</span></v-flex>
              </v-layout>
              <v-layout class="profile-shop__resources__access">
                <v-flex>Доступ оплачен до <span class="profile-shop__resources__access_time">26.11.2106</span></v-flex>
                <v-flex>ID: <span <span class="profile-shop__resources__access_id">625342345</span></v-flex>
                <v-flex shrink><a href="#" class="profile-shop__resources__access_extend link">Продлить доступ</a></v-flex>
              </v-layout>
              <v-layout row wrap column class="profile-shop__resources__list-designer">
                <v-flex class="profile-shop__resources__list-designer__title">
                  <h3 class="profile-shop__resources__list-designer__title_name">Список дизайнеров</h3>
                  <div class="profile-shop__resources__list-designer__title__icon">
                    <img src="~assets/img/icons/add_designer.svg" class="profile-shop__resources__list-designer__title__icon_img">
                  </div>
                </v-flex>
                <v-flex class="profile-shop__resources__list-designer__list">
                  <v-list class="profile-shop__resources__list-designer__list__list-block">
                    <v-list-tile
                      class="profile-shop__resources__list-designer__list__tile"
                      v-for="(designer, key) in designers"
                      :key="key"
                    >
                      <v-list-tile-content class="profile-shop__resources__list-designer__list__content">
                        <v-layout
                          class="profile-shop__resources__list-designer__list__content__line"
                          justify-space-between
                          align-center
                        >
                          <v-flex class="profile-shop__resources__list-designer__list__content__line_name">
                            {{ designer.name }}
                          </v-flex>
                          <v-flex class="profile-shop__resources__list-designer__list__content__line_login">
                            <span>{{ designer.login }}</span> - <span>{{ designer.id }}</span>
                          </v-flex>
                          <v-flex
                            class="profile-shop__resources__list-designer__list__content__line__edit"
                            shrink
                          >
                            <v-btn icon flat>
                              <v-icon>edit</v-icon>
                            </v-btn>
                          </v-flex>
                          <v-flex
                            class="profile-shop__resources__list-designer__list__content__line__del"
                            shrink
                          >
                            <v-btn icon flat @click="remove = !remove">
                              <v-icon>clear</v-icon>
                            </v-btn>
                          </v-flex>
                        </v-layout>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex>
          <v-layout
            class="profile-shop__button-layout"
            row
            justify-space-between
            align-center
            wrap
          >
            <v-flex class="profile-shop__button-layout__block" xs12 sm3>
              <v-btn flat class="profile-shop__button-layout__block_btn">
                + Добавить логотип
              </v-btn>
            </v-flex>
            <v-flex class="profile-shop__button-layout__block" xs12 sm3>
              <v-btn flat class="profile-shop__button-layout__block_btn">
                + Добавить проект
              </v-btn>
            </v-flex>
            <v-flex class="profile-shop__button-layout__block" xs12 sm3>
              <v-btn flat class="profile-shop__button-layout__block_btn">
                Редактировать фотогалерею
              </v-btn>
            </v-flex>
            <v-flex class="profile-shop__button-layout__block" xs12 sm3>
              <v-btn flat class="profile-shop__button-layout__block_btn">
                Редактировать акции
              </v-btn>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex>
          <v-layout class="profile-shop__setting" justify-start>
            <v-flex class="profile-shop__setting__block" shrink>
              <a class="profile-shop__setting__block_link" href="#">Предварительный просмотр</a>
            </v-flex>
            <v-flex class="profile-shop__setting__block">
              <a class="profile-shop__setting__block_link link" href="#">Настроить очередность показа проектов</a>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex class="profile-shop__projects">
          <h2 class="title-layout">Проекты</h2>
          <projects-edit :projects="projects"></projects-edit>
          <!-- <v-layout justify-space-between>
            <v-flex
              class="catalog-block"
              v-for="(project, key) in projects"
              :key="key"
            >
              <project-edit :project="project"></project-edit>
            </v-flex>
          </v-layout> -->
        </v-flex>
      </v-layout>
    </v-container>
    <v-dialog
      v-model="remove"
      max-width="500px"
    >
      <div class="dialog-confirm">
        <v-layout column text-xs-center>
          <v-flex class="dialog-confirm_text">
            Вы действительно хоитие удалить дизайнера Name из Вашего списка?
          </v-flex>
          <v-flex>
            <v-layout class="dialog-confirm__btns" row wrap justify-space-between align-center>
              <v-flex>
                <v-btn class="dialog-confirm__btns_btn" flat>Да</v-btn>
              </v-flex>
              <v-flex>
                <v-btn class="dialog-confirm__btns_btn" flat>Нет</v-btn>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </div>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        name: 'Название магазина',
        value: 'Плитка - улитка'
      },
      {
        name: 'Юр. Лицо',
        value: 'ООО "Плитка"'
      },
      {
        name: 'Адрес',
        value: 'Екатеринбург'
      },
      {
        name: 'Телефон',
        value: '8 343 254 45 56'
      },
      {
        name: 'Информация для покупателей',
        value: 'Керамическая плитка'
      },
    ],

    designers: [
      {
        name: 'Александр Петров',
        login: 'alex.p',
        id: '15f151'
      },
      {
        name: 'Александр Петров',
        login: 'alex.p',
        id: '15f151'
      },
      {
        name: 'Александр Петров',
        login: 'alex.p',
        id: '15f151'
      },
      {
        name: 'Александр Петров',
        login: 'alex.p',
        id: '15f151'
      },
      {
        name: 'Александр Петров',
        login: 'alex.p',
        id: '15f151'
      },
      {
        name: 'Александр Петров',
        login: 'alex.p',
        id: '15f151'
      },
      {
        name: 'Александр Петров',
        login: 'alex.p',
        id: '15f151'
      },
    ],
    projects: [
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
    ],
    remove: false,
  }),

  components: {
    projectsEdit: () => import('components/projectsEdit.vue'),
  }
}
</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";

.profile-shop {
  &__info-shop {
    &_title {
      background: $base;
      width: 100%;
      color: $white;
      text-transform: uppercase;
      padding: 10px 20px;
      font-size: $vw20;
      border-radius: 5px 5px 0 0;
    }

    &__list {
      &__item {
        background: $grey-light;
        padding: 0 20px;
        margin: 5px 0;
      }
      &__label {
        &_name {
          color: $base;
          font-weight: bold;
          font-size: $vw18;
        }

        &_value {
          color: $font-grey;
          font-size: $vw18;
          margin-left: 10px;
        }
      }

      &__btn {
        text-align: right;

        .v-btn {
          width: $vw56;
          height: $vw56;
          margin: 0;
        }

        .v-icon {
          color: $base !important;
          font-size: $vw24;
        }
      }

      &:last-child {
        .profile-shop__info-shop__list__item {
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }

  &__resources {
    color: $base;
    &__balance {
      align-items: baseline;

      &_name {
        flex-grow: 0;
        font-weight: bold;
        border-bottom: 2px solid $base;
        font-size: $vw18;
        height: $vw26;
      }
      &_value {
        flex-grow: 1;
        margin-left: 10px;
        font-size: $vw20;

        .simbol-money {
          font-family: arial;
        }
      }
    }

    &__access {
      font-size: $vw14;
      &_time,
      &_id {
        font-weight: bold;
      }

      &_extend {
        font-weight: bold;
        border-bottom: 2px solid $base;
        text-decoration: none;
        color: $base;
        display: block;
        height: $vw22;
      }
    }

    &__list-designer {
      margin-top: 1%;
      &__title {
        background: $base;
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        border-radius: 5px 5px 0 0;


        &_name {
          text-transform: uppercase;
          font-size: $vw20;
        }

        &__icon {
          &_img {
            width: 36px;
          }
        }
      }

      &__list {
        overflow-y: auto;
        max-height: $vw250;
        margin: 5px 0;

        &__list-block {
          padding-top: 0;
        }

        &__tile {
          .v-list__tile {
            padding-left: 0;
          }
        }

        &__content {
          width: 100%;

          &__line {
            width: 100%;
            color: $base;
            border-bottom: 2px solid $base;
            font-size: $vw20;

            &_name {
              font-weight: bold;
            }

            .v-btn {
              .v-icon {
                color: $base;
              }
            }
          }
        }
      }
    }
  }

  &__info-shop,
  &__resources {
    max-width: 48% !important;
    flex-basis: 48% !important;
  }

  &__button-layout {
    margin: 2% 0;
    &__block {
      max-width: 22% !important;
      flex-basis: 22% !important;
      &_btn {
        width: 100%;
        background: $base;
        color: $white!important;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 5px;
        margin: 0;
      }
    }
  }

  &__setting {
    &__block {
      margin-right: 4%;
      &_link {
        color: $base;
        text-decoration: none;
        border-bottom: 2px solid $base;
        font-weight: bold;
        font-size: $vw18;
      }
    }
  }

  &__projects {
    margin-top: 2%;
  }
}

@media screen and (max-width: 600px) {
  .profile-shop {
    &__info-shop {
      &_title {
        font-size: 20px;
      }
    }
    &__resources {
      &__balance {
        &_name {
          font-size: 18px;
          height: 26px;
        }
        &_value {
          font-size: 20px;

          .simbol-money {
            font-family: arial;
          }
        }
      }

      &__access {
        font-size: 14px;

        &_extend {
          height: 22px;
        }
      }
    }
  }
}

</style>
