<template>
  <div class="page-projects page">
    <v-container class="page-conteiner">
      <v-layout class="page-projects__describe-layout" row wrap>
        <v-flex class="page-projects__describe" xs12 sm9>
          <p class="page-projects__describe_text">Щёлкните на проект, чтобы поменять его расположение.</p>
          <p class="page-projects__describe_text">Поменять порядок проектов Вы можете, перетащив их в нужное положение</p>
        </v-flex>
        <v-flex xs12 sm3>
          <v-layout class="count-projects-layout" text-xs-right align-baseline>
            <v-flex xs9 class="count-projects-label">На странице</v-flex>
            <v-flex xs3 class="count-projects-select-block">
              <v-select
                :items="countProjects"
                :value="9"
                class="count-projects-select"
                solo
                hide-details
              >
              </v-select>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <h2 class="title-layout">Проекты</h2>
      <v-layout class="page-projects__project-layout" row wrap justify-space-between>
        <v-flex
          class="catalog-block"
          v-for="(project, key) in projects"
          :key="key"
        >
          <project-edit :project="project"></project-edit>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    projects: [
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
      {
        name: 'Monopole Ceramica',
        designer: {
          name: 'Андрей Петров',
          page: '/andrey'
        },
        pagePorject: '/',
        rating: 2,
      },
    ],
    countProjects: [9, 18, 36, 72],
  }),
  components: {
    projectEdit: () => import('components/projectBlockEdit.vue'),
  }
}
</script>

<style lang="scss">
@import "~assets/scss/_variables.scss";
@import "~assets/scss/_sizes.scss";

.page-projects {
  &__describe-layout {
    margin-bottom: 2%;
  }

  &__describe {
    color: $base;
    font-size: $vw16;
    font-weight: bold;
    &_text {
      margin: 0;
    }
  }

  &__project-layout {
    max-height: $vw700;
    overflow-y: auto;
    padding-right: 10px;

    .catalog-block:nth-child(-n+3), {
      margin-top: 0;
    }
  }
}
</style>
